*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* con el código anterior dejamos los márgenes en cero*/

body{
    background: #dcdce4;
    }
.navegacion{
    display: flex;
    justify-content: space-between;
    background: rgb(95, 92, 100);
  }
.navegacion ul{
    list-style: none;
}
.menu>li{
    display: inline-block;
    }
.menu>li> a{
    display: block;
    padding: 15px;
    color:#f8f4f4;
    font-family: "Open sans";
    text-decoration: none;
}
.menu li a:hover{
    background-color:#8180af;
}

